*::-webkit-scrollbar {
    width: 3px;
    background-color: #2c323c;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #dc6906;  /* creates padding around scroll thumb */
  }

body {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

hgroup {
    text-align: center;
    margin-top: 40px;
}

h1 {
    color: #ffffff;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
}

h2 {
    color: #abb2bf;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

section {
    flex: 1;
    min-width: 450px;
    flex-basis: 32%;
    font-family: 'Kanit', sans-serif;
    padding: 0px 0px 60px 10px;
}

section>header {
    color: #abb2bf;
    background-color: #2c323c;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.propriet-div {
    margin-top: 15px;
}

.propriet-div>label {
    font-family: 'Courier Prime', monospace;
    color: #dc6906;
    padding: 0px;
    font-size: 12pt;
}

.propriet-div>span {
    font-family: 'Courier Prime', monospace;
    color: #fff;
    margin: 5px 0px;
    margin-right: 10px;
    font-size: 10pt;
}

.exemplo {
    border-bottom: 1px solid #fff;
}

.content {
    display: flex;
    margin-top: 20px;
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    flex-wrap: wrap;
}